@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-sm leading-relaxed
           bg-gray-100 text-gray-900
           dark:bg-[#1e1e1e] dark:text-[#f0f0f0];
  }
}
